{#{% load static %}#}

<ul class="navbar-nav mr-auto">
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="{% url 'translate_tutor' %}" id="userMenu05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Tutorial Part 5
  </a>
  <div class="dropdown-menu" aria-labelledby="userMenu">
    <a class="dropdown-item" href="{% url 'translate_tutor' %}#intro">Introduction - Вступ</a>
      <a class="dropdown-item" href="{% url 'translate_tutor' %}#ProtectingViews">Protecting Views - Захист видів</a>
      <a class="dropdown-item" style="padding-left: 2.5rem; font-size: 0.9rem; margin-bottom: 0.25rem"
         href="{% url 'translate_tutor' %}#ConfiguringLoginNextRedirect">
          Configuring Login Next Redirect - Налаштування реєстрації, наступного перенаправлення</a>
      <a class="dropdown-item" href="{% url 'translate_tutor' %}#LoginRequiredTests"
         style="padding-left: 2.5rem; font-size: 0.9rem; margin-bottom: 0.25rem">
          Login Required Tests - Тести; необхідний вхід</a>
      <a class="dropdown-item" href="{% url 'translate_tutor' %}#AccessingtheAuthenticatedUser">
          Accessing the Authenticated User - Доступ до автентифікованого користувача</a>
      <a class="dropdown-item" href="{% url 'translate_tutor' %}#TopicPostsView">Topic Posts View - Вид тема-повідомлення</a>
      <a class="dropdown-item" href="{% url 'translate_tutor' %}#ReplyPostView">Reply Post View - Вид відповіді на повідомлення</a>
      <a class="dropdown-item" href="{% url 'translate_tutor' %}#QuerySets">QuerySets - Набори запитів</a>
      <a class="dropdown-item" href="{% url 'translate_tutor' %}#Migrations">Migrations - Міграції</a>
    <a class="dropdown-item" href="{% url 'translate_tutor' %}#Conclusions">Conclusions - Висновки</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'category_topics' 1 %}">Discussion of translation. P 5. - Обговорення перекладу. Частина 5.</a>
  </div>
</li>
</ul>
<ul class="navbar-nav mr-auto">
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="{% url 'translate_tutor6' %}" id="userMenu06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Part 6
  </a>
  <div class="dropdown-menu" aria-labelledby="userMenu">
    <a class="dropdown-item" href="{% url 'translate_tutor6' %}#intro">Introduction - Вступ</a>
      <a class="dropdown-item" href="{% url 'translate_tutor6' %}#ViewsStrategies">Views Strategies - Стратегії видів</a>
      <a class="dropdown-item" style="padding-left: 2.5rem; font-size: 0.9rem; margin-bottom: 0.25rem"
         href="{% url 'translate_tutor6' %}#Function-BasedView">Function-Based View - Вид на основі функцій</a>
      <a class="dropdown-item" style="padding-left: 2.5rem; font-size: 0.9rem; margin-bottom: 0.25rem"
         href="{% url 'translate_tutor6' %}#Class-BasedView">Class-Based View - Вид на основі класів</a>
      <a class="dropdown-item" style="padding-left: 2.5rem; font-size: 0.9rem; margin-bottom: 0.25rem"
         href="{% url 'translate_tutor6' %}#GenericClass-BasedView">Generic Class-Based View - Загальний вид на основі класів</a>
      <a class="dropdown-item" href="{% url 'translate_tutor6' %}#UpdateView">Update View - Вид оновлення</a>
      <a class="dropdown-item" style="padding-left: 2.5rem; font-size: 0.9rem; margin-bottom: 0.25rem"
         href="{% url 'translate_tutor6' %}#TestingTheUpdateView">Testing The Update View - Тестування виду оновлення</a>
      <a class="dropdown-item" href="{% url 'translate_tutor6' %}#ListView">List View - Перегляд списку</a>
      <a class="dropdown-item" style="padding-left: 2.5rem; font-size: 0.9rem; margin-bottom: 0.25rem"
         href="{% url 'translate_tutor6' %}#Pagination">Pagination - Нумерування сторінок</a>
      <a class="dropdown-item" style="padding-left: 2.5rem; font-size: 0.9rem; margin-bottom: 0.25rem"
         href="{% url 'translate_tutor6' %}#FBVPagination">FBV Pagination</a>
      <a class="dropdown-item" style="padding-left: 2.5rem; font-size: 0.9rem; margin-bottom: 0.25rem"
         href="{% url 'translate_tutor6' %}#GCBVPagination">GCBV Pagination</a>
      <a class="dropdown-item" style="padding-left: 2.5rem; font-size: 0.9rem; margin-bottom: 0.25rem"
         href="{% url 'translate_tutor6' %}#ReusablePaginationTemplate">Reusable Pagination Template - Багаторазовий Шаблон Pagination</a>
      <a class="dropdown-item" href="{% url 'translate_tutor6' %}#MyAccountView">My Account View - Вид мого облікового запису</a>
      <a class="dropdown-item" href="{% url 'translate_tutor6' %}#AddingMarkdown">Adding Markdown - Додавання Markdown</a>
      <a class="dropdown-item" href="{% url 'translate_tutor6' %}#Humanize">Humanize</a>
      <a class="dropdown-item" href="{% url 'translate_tutor6' %}#Gravatar">Gravatar</a>
      <a class="dropdown-item" href="{% url 'translate_tutor6' %}#FinalAdjustments">Final Adjustments - Остаточні коригування</a>
    <a class="dropdown-item" href="{% url 'translate_tutor6' %}#Conclusions">Conclusions - Висновки</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'category_topics' 2 %}">Discussion of translation. P 6. - Обговорення перекладу. Частина 6.</a>
  </div>
</li>
</ul>
<ul class="navbar-nav mr-auto">
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="{% url 'translate_tutor7' %}" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Part 7
  </a>
  <div class="dropdown-menu" aria-labelledby="userMenu07">
    <a class="dropdown-item" href="{% url 'translate_tutor7' %}#intro">Introduction - Вступ</a>
    <a class="dropdown-item" href="{% url 'translate_tutor7' %}#VerControl">Version Control - Контроль версій</a>
      <a class="dropdown-item" style="padding-left: 2.5rem; font-size: 0.9rem; margin-bottom: 0.25rem"
         href="{% url 'translate_tutor7' %}#BasicSetup">Basic Setup - Основні налаштування</a>
      <a class="dropdown-item" style="padding-left: 2.5rem; font-size: 0.9rem; margin-bottom: 0.25rem"
         href="{% url 'translate_tutor7' %}#RemoteRepository">Remote Repository - Віддалене сховище</a>
      <a class="dropdown-item" href="{% url 'translate_tutor7' %}#ProjectSettings">Project Settings - Параметри проекту</a>
      <a class="dropdown-item" href="{% url 'translate_tutor7' %}#TrackingRequirements">Tracking Requirements - Відстеження вимог</a>
      <a class="dropdown-item" href="{% url 'translate_tutor7' %}#DomainName">Domain Name - Доменне ім'я</a>
      <a class="dropdown-item" href="{% url 'translate_tutor7' %}#DeploymentStrategy">Deployment Strategy - Стратегія розгортання</a>
      <a class="dropdown-item" href="{% url 'translate_tutor7' %}#DeployingVPS">Deploying to a VPS (Digital Ocean) - Розгортання</a>
      <a class="dropdown-item" style="padding-left: 2.5rem; font-size: 0.9rem; margin-bottom: 0.25rem"
         href="{% url 'translate_tutor7' %}#ApplicationUser">Application User - Користувач програми</a>
      <a class="dropdown-item" style="padding-left: 2.5rem; font-size: 0.9rem; margin-bottom: 0.25rem"
         href="{% url 'translate_tutor7' %}#PostgreSQLDatabaseSetup">PostgreSQL Database Setup - Налаштування бази даних PostgreSQL</a>
      <a class="dropdown-item" style="padding-left: 2.5rem; font-size: 0.9rem; margin-bottom: 0.25rem"
         href="{% url 'translate_tutor7' %}#DjangoProjectSetup">Django Project Setup - Налаштування проекта Django</a>
      <a class="dropdown-item" style="padding-left: 2.5rem; font-size: 0.9rem; margin-bottom: 0.25rem"
         href="{% url 'translate_tutor7' %}#ConfiguringGunicorn">Configuring Gunicorn - Налаштування Gunicorn</a>
      <a class="dropdown-item" style="padding-left: 2.5rem; font-size: 0.9rem; margin-bottom: 0.25rem"
         href="{% url 'translate_tutor7' %}#ConfiguringSupervisor">Configuring Supervisor - Налаштування Supervisor</a>
      <a class="dropdown-item" style="padding-left: 2.5rem; font-size: 0.9rem; margin-bottom: 0.25rem"
         href="{% url 'translate_tutor7' %}#ConfiguringNGINX">Configuring NGINX - Налаштування NGINX</a>
      <a class="dropdown-item" href="{% url 'translate_tutor7' %}#ConfiguringEmailService">Configuring an Email Service - Налаштування служби електроної пошти</a>
      <a class="dropdown-item" href="{% url 'translate_tutor7' %}#ConfiguringHTTPSCertificate">Configuring HTTPS Certificate - Налаштування сертифіката HTTPS</a>
      <a class="dropdown-item" href="{% url 'translate_tutor7' %}#Conclusions">Conclusions - Висновки</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'category_topics' 3 %}">Discussion of translation. P 7. - Обговорення перекладу. Частина 7.</a>
  </div>
</li>
</ul>
