body {
 background-image: url(seamless_paper_texture.png);
}

.logo {
 font-family: 'Comfortaa', cursive;
}

.logo a {
 color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
 text-decoration: none;
}